* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #9f1d7a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

main {
  padding: 20px;
}

.view {
  display: block; /* Ensure visible sections are displayed */
}

.hidden {
  display: none; /* Hides elements with the hidden class */
}

#current-time {
  font-size: 3rem;
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: auto;
  padding: 10px;
  background-color: #282c34;
  color: white;
  width: 100%;
  text-align: center;
}
